.python-version

# antidote (plugin manager): cloned plugins and generated bundle
.antidote/
.zsh_plugins.zsh

.config/nvim/dein/.cache
.config/nvim/dein/cache_nvim
.config/nvim/dein/repos
.config/nvim/dein/state_nvim.vim
